body {
    background-color: #f2f3a7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #404040;
    font-size: 14px;
    text-justify: distribute;
}

p, h1, h2, h3, h4, h5, h6, ul {
    margin-block-start: 0.3em;
    margin-block-end: 0;
    margin-inline: 15px;
}

h1 {
    font-size: 2.5em;
    font-weight: inherit;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3, h4 {
    font-size: larger;
    font-weight: 500;
}

h4 {
    text-decoration: underline;
}

div.container {
    background-color: #ffffff;
    width: 720px;
    margin: 40px auto;
    padding: 40px;
}

div.right-column {
    margin-left: 30px;
}

div#name {
    background-color: #404040;
    color: #ffffff;
    height: 200px;
}

div.left-column {
    /* margin-left: 10px; */
    float: left;    
}

div#profile{
    background-color: #ffffff;
    height: 200px;
}

img#profile {
    border-radius: 100%;
}

div#personal-details {
    background-color: #404040;
    color: #ffffff;
}
    
