@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

main::-webkit-scrollbar {
    display: none;
}

main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer base {
    body {
        @apply text-special-black bg-special-white dark:text-special-white dark:bg-special-black
    }
}